.{padding: 0; margin: 0; box-sizing:border-box ;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
header{
    width: 100%;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height:70px;
    border: 1px solid gray;
    box-shadow: 2px 0px 5px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 50px;
    font-weight: bold;
}
.manu a{
    text-decoration: 0px;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
}
.manu a:last-child{
    background: black;
    color: white;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d ;
    transform-origin: center;
    perspective: 2000px;
}
.left{
    flex-basis:50px ;
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
.right{
    flex-basis: 50px;
    max-width: 400px;
    margin-left: 100px;
}
.right h1{
    font-size: 50px;

}
.right p{
    font-size: 25px; 
    margin: 20px 0px;
}
button{
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;

}
a{
    font-size:20px;
    color: blue;
}
#Featured{
padding: 50px 0px;
font-size: 50px;
text-align: center;
margin-top: 200px;
}
.image{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-auto-rows:minmax(200px,auto) ;
    grid-gap: 1em;
    justify-content: center;
}
.image> div{
    border: 1px solid grey;
    position: relative;
}
.image>div img{
    width: 100%;
    overflow: hidden;
}
.box1{
    grid-row: 1/3;
    grid-column:1/3;
}
.price{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
    font-size: 20px;
}
.image>div img:hover{
    transform: scale(1.2);
    transition: 0.4s linear;
}
#man{
    padding: 80px 0px;
}
#Women{
    padding: 5px 0px;
}
.man-row{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.man-box{
    flex-basis: 15%;
    box-shadow: 2px 3px 5px grey;
    padding: 10px;

}
.man-box img{
    width: 100%;
    }
.man-row{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.man-box{
    flex-basis: 15%;
    box-shadow: 2px 3px 5px grey;
    padding: 10px;
    text-align: center;

}
.man-box img{
    width: 100%;
    }

    h1{
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
}
.man-box h2{
    margin: 20px 0px;
}
.man-box h3{
    background: black;
    color: white;
    padding: 5px;
    display: inline-block;
}
.man-box:hover{
transform: translateY(-20px);
transition: 0.4s ease;
}
.man-box h3:hover{
transform: translateY(-20px);
transition: 0.2s linear;

}


#footer{
  display: flex;
  justify-content:space-around;
  text-align: center;
  background: blueviolet;
  color: white;
  padding: 10px;
}
.box{
  display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #811717;
    background-image:linear-gradient(green);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 05s;
    color: white;
    margin-top: 30px;
    margin-left: 1100px;

}
.mar{
 margin-top: 30px;
 font-weight: bold;
 color:orange;
 font-size: 20px;
 font-style: italic;
 }
 
 .a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #811717;
    background-image:linear-gradient(green);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 03s;
    color: white;
}
.cont{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.con{
    width: 100%;
    height:100vh ;
    background: blue;
    display: flex;
    align-items:center;
    justify-content:center;
}
Form{
    background: white;
    padding-left: 30px ;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
}
Form button {
padding: 15px;
background: green;
color: white;
margin-right: 30px;
cursor: pointer;
}